@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Raleway:wght@100&display=swap');
*{
    margin: 0;
    padding: 0; 
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.navvy{
background-image: linear-gradient(rgba(61, 28, 28, 0.815),rgba(243, 235, 235, 0.158)),url(images/picture2.jpg); 
background-position: top;
width: 100%;
height: 20vh;
}

.navvy img{
width: 100px;
height: 60px;
    
}

.banner{
background-image: linear-gradient(rgba(61, 28, 28, 0.815),rgba(243, 235, 235, 0.158)),url(images/picture2.jpg); 
background-position: center;
width: 100%;
min-height: 100dvh;
background-position: center center;
}

.banner-heading-mobile {
    font-size: 1rem !important;
}

.login-heading-mobile {
    font-size: 1.5rem !important;
}

.banner-heading5-mobile {
    font-size: 0.5rem !important;
}

.click-mobile {
    font-size: 0.5rem !important;
    margin-top: 1rem;
}


.banner-heading{

font-size: 70px !important; 
}

.banner-heading2{
margin-top: 80px;
font-size: 50px !important; 
}

.banner-heading5{
    font-size: 30px !important;
}

.banner-heading7{
    font-size: 18px !important;
}

.feed{
font-size: 35px !important;     
}

.feedtext{
font-size: 30px;
}

.feedtext-mobile{
    font-size: 25px;
}

.click{
font-size: 25px;
margin-top: 90px;
}

.homefeed{
color: rgb(202, 202, 116);;
font-size: 45px;
}

.homefeed-mobile{
    color: rgb(202, 202, 116);
    font-size: 37px;
}

.Register{
color: black;
}

.FormText{
color: white;
}

.label-mobile{
    font-size: 0.7rem;
}

.DashBoardButtons{
color: rgb(202, 202, 116);
font-size: 60px;
text-decoration: none;
}

.DashBoardButtonsLoggedIn{
color: rgb(202, 202, 116);
font-size: 37px;
text-decoration: none;
    }
    
.alertcolumn{
width: 1000px;
height: 10px;
}

body, html {
  overflow-x: hidden;
}





